/*----------------
    media info
----------------*/

#mpris {
	padding: 0 12px;
}

/*------------
    volume
------------*/

#custom-left_div.6 {
	color: @volume;
}
#pulseaudio,
#wireplumber {
	background-color: @volume;
}

/*----------------
    brightness
----------------*/

#custom-left_div.7 {
	background-color: @volume;
	color: @backlight;
}
#backlight {
	background-color: @backlight;
}

/*-------------
    battery
-------------*/

#custom-left_div.8 {
	background-color: @backlight;
	color: @battery;
}
#battery {
	background-color: @battery;
}
#custom-left_inv.2 {
	color: @battery;
}

/*----------------
    power menu
----------------*/

#custom-power_menu {
	border-radius: 16px;
	padding: 0 6px 0 13px;
  font-size: 16px;
	background-color: @accent;
  color: #000;
  margin: 0 5px 0 5px;
}
#custom-power_menu:hover {
  opacity: 0.9;
}

/*----------------
    tray
----------------*/

#tray {
  margin-right: 16px;
  margin-left: 10px;
}

