/*--------------
    username
--------------*/

#custom-user {
	padding-right: 12px;
}

/*----------------
    workspaces
----------------*/

#custom-left_div.1,
#custom-right_div.1 {
	color: @workspaces;
}
#workspaces {
	padding: 0 1px;
	background-color: @workspaces;
}
#workspaces button {
  padding: 0 5px;
  margin: 0 1px;
  background-color: #b7bdf8;
  opacity: 0.7;
}
#workspaces button:hover {
  opacity: 1;
}
#workspaces button label {
  color: #000;
  background-color: transparent;
}
#workspaces button.empty {
  background-color: @hover-bg;
  opacity: 1;
}
#workspaces button.empty label {
  color: @main-fg;
  background-color: transparent;
}
#workspaces button.empty:hover label {
  opacity: 1;
  opacity: 0.5;
  background-color: transparent;
}
#workspaces button.active label,
#workspaces button.focused label {
	color: #000;
  opacity: 1;
  background-color: transparent;
}
#workspaces button.active,
#workspaces button.focused {
  background-color: @accent;
  border-radius: 30px;
  padding: 0 15px;
  opacity: 1;
}
#workspaces button.active:hover, #workspaces button.focused:hover {
  opacity: 0.9;
}

/*------------------
    window title
------------------*/

#window {
	margin-left: 12px;
}
